In [1]:
#1
import pandas as pd
import numpy as np
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [ ]:
test = pd.read_csv('merged_test_purchases.csv')

In [2]:
#2
clients = pd.read_csv('clients.csv')

In [3]:
#3
clients['first_redeem_date'].fillna(clients['first_issue_date'], inplace = True)
clients['first_issue_date1'] = clients['first_issue_date'].apply(lambda x: pd.to_datetime(x[:10]))
clients['first_redeem_date1'] = clients['first_redeem_date'].apply(lambda x: pd.to_datetime(x[:10]))
clients['dif_date'] = clients[['first_redeem_date','first_issue_date']].apply(lambda x: int(str(pd.to_datetime(x[0]) - pd.to_datetime(x[1])).split(' ')[0]), axis = 1)
clients['dif_date'] = clients['dif_date'].apply(lambda x: x if x != -1 else 0)
clients = clients.drop(labels = ['first_issue_date', 'first_redeem_date', 'first_redeem_date1', 'first_issue_date1'], axis = 1)
clients['age'] = clients['age'].apply(lambda x: int(45) if (x > 80) | (x < 15) else int(x))
clients['gender'] = le.fit_transform(clients['gender'])

In [ ]:
test = test.drop(labels = ['store_id', 'transaction_datetime', 'Unnamed: 0'], axis = 1)

In [ ]:
test.head()

In [ ]:
test = pd.merge(test, clients, on = 'client_id', how = 'left')

In [6]:
#4
clients['age'] = standart(clients['age'])
clients['dif_date'] = standart(clients['dif_date'])
clients['gender'] = standart(clients['gender'])

In [ ]:
test = pd.merge(test, clients, on = 'client_id', how = 'left')

In [ ]:
test.to_csv('mergedwithclients.csv')

In [ ]:
A = test[['trn_sum_from_iss', 'purchase_sum']][test['trn_sum_from_red'].isna() != True]
B = test['trn_sum_from_red'][test['trn_sum_from_red'].isna() != True]
C = np.linalg.inv(A.T@A)@A.T@B

test['trn_sum_from_red'].fillna(C[0]*test['trn_sum_from_iss'] + C[1]*test['purchase_sum'], inplace = True)

In [5]:
#5
def standart(df): #Делай
    df = df - df.mean()
    df = df/np.linalg.norm(df)
    return df

In [ ]:
test.info()

In [ ]:
cols = ['regular_points_received', 'express_points_received',
       'regular_points_spent', 'express_points_spent', 'purchase_sum',
       'product_quantity', 'trn_sum_from_iss',
       'trn_sum_from_red']
for x in cols:
    test[x] = standart(test[x])

In [ ]:
pd.merge(df,products, on = 'product_id', how = 'left')

In [7]:
#6
products = pd.read_csv('products.csv')

In [8]:
#7
products = products.drop(labels = ['level_1', 'level_2', 'level_3', 'level_4', 'segment_id', 'brand_id', 'vendor_id'], axis = 1)

In [9]:
#8
products['netto'] = products['netto'].fillna(products['netto'].mean())
products['netto'] = standart(products['netto'])
products['is_own_trademark'] = standart(products['is_own_trademark'])
products['is_alcohol'] = standart(products['is_alcohol'])

In [ ]:
test = pd.merge(test, products, on = 'product_id', how = 'left')

In [ ]:
#Делай
rules_predict = {'client_id': 'min',
        'transaction_id':'min',
        'regular_points_received':['sum', 'mean'], 
         'express_points_received':['sum', 'mean'],
         'regular_points_spent':['sum', 'mean'], 
         'express_points_spent':['sum', 'mean'],
         'purchase_sum':['sum', 'mean'],
         'product_quantity':['sum', 'mean'],
        'trn_sum_from_iss':['sum', 'mean'],
        'trn_sum_from_red':['sum', 'mean'],
        'trn_sum_from_iss':['sum', 'mean'],
        'trn_sum_from_red':['sum', 'mean'],
        'netto':['sum', 'mean'],
        'is_own_trademark':['sum', 'mean'],
        'is_alcohol':['sum', 'mean'],
        'age':'mean',
        'gender': 'mean',
        'dif_date':['sum', 'mean']}

In [ ]:
len(rules_predict)

In [ ]:
test = test.drop(labels = ['product_id'], axis = 1)

In [ ]:
test = test.groupby('transaction_id').agg(rules_predict)

In [ ]:
test.to_csv('agg1.csv')

In [ ]:
test.reset_index()

In [ ]:
test.columns = ['client_id', 'transaction_id', 
                    'regular_points_received_sum',
                    'regular_points_received_mean', 
                    'express_points_received_sum',
                    'express_points_received_mean',
                    'regular_points_spent_sum', 
                    'regular_points_spent_mean', 
                    'express_points_spent_sum',
                    'express_points_spent_mean', 
                    'purchase_sum_sum',
                    'purchase_sum_mean',
                    'product_quantity_sum',
                    'product_quantity_mean',
                    'trn_sum_from_iss_sum',
                    'trn_sum_from_iss_mean',
                    'trn_sum_from_red_sum',
                    'trn_sum_from_red_mean',
                    'netto_sum',
                    'netto_mean',
                    'is_own_trademark_sum',
                    'is_own_trademark_mean',
                    'is_alcohol_sum',
                   'is_alcohol_mean',
                   'age',
                   'gender',
               'dif_date_sum',
               'dif_date_mean']

In [ ]:
test = test.drop(labels = ['transaction_id'], axis = 1)

In [ ]:
rules_predict2 = {'regular_points_received_sum':'sum',
                    'regular_points_received_mean':'mean', 
                    'express_points_received_sum':'sum',
                    'express_points_received_mean':'mean',
                    'regular_points_spent_sum':'sum', 
                    'regular_points_spent_mean':'mean', 
                    'express_points_spent_sum':'sum',
                    'express_points_spent_mean':'mean', 
                    'purchase_sum_sum':'sum',
                    'purchase_sum_mean':'mean',
                    'product_quantity_sum':'sum',
                    'product_quantity_mean':'mean',
                    'trn_sum_from_iss_sum':'sum',
                    'trn_sum_from_iss_mean':'mean',
                    'trn_sum_from_red_sum':'sum',
                    'trn_sum_from_red_mean':'mean',
                    'netto_sum':'sum',
                    'netto_mean':'mean',
                    'is_own_trademark_sum':'sum',
                    'is_own_trademark_mean':'mean',
                    'is_alcohol_sum':'sum',
                   'is_alcohol_mean':'mean',
                   'age':'mean',
                   'gender':'mean',
               'dif_date_sum':'sum',
               'dif_date_mean':'mean'}

In [ ]:
test = test.groupby('client_id').agg(rules_predict2)

In [ ]:
test.to_csv('readyforpredict.csv')

In [44]:
train = pd.read_csv('saveme.csv')

In [45]:
train = train.drop(labels = ['Unnamed: 0'], axis = 1)

In [46]:
A = train[['trn_sum_from_iss', 'purchase_sum']][train['trn_sum_from_red'].isna() != True]
B = train['trn_sum_from_red'][train['trn_sum_from_red'].isna() != True]
C = np.linalg.inv(A.T@A)@A.T@B

train['trn_sum_from_red'].fillna(C[0]*train['trn_sum_from_iss'] + C[1]*train['purchase_sum'], inplace = True)

In [ ]:
train = pd.merge(train, clients, on = 'client_id', how = 'left')

In [47]:
x = []
for y in train[['treatment_flg','target']].values:
    x.append(y[0]*y[1])
train['res'] = x

In [48]:
train = train.drop(labels = ['treatment_flg','target'], axis = 1)

In [49]:
cols = ['regular_points_received', 'express_points_received',
       'regular_points_spent', 'express_points_spent', 'purchase_sum',
       'product_quantity', 'trn_sum_from_iss',
       'trn_sum_from_red']
for x in cols:
    train[x] = standart(train[x])

In [53]:
train = train.drop(labels = ['transaction_datetime', 'store_id'], axis = 1)

In [56]:
train = pd.merge(train, clients, on ='client_id', how = 'left')

In [57]:
train = pd.merge(train, products, on = 'product_id', how = 'left')

In [58]:
train.head(2).T

                                   0            1
client_id                 000012768d   000012768d
transaction_id            7e3e2e3984   7e3e2e3984
regular_points_received  3.19298e-05  3.19298e-05
express_points_received -5.24918e-06 -5.24918e-06
regular_points_spent     3.05809e-05  3.05809e-05
express_points_spent     2.02216e-05  2.02216e-05
purchase_sum             6.07533e-05  6.07533e-05
product_id                9a80204f78   da89ebd374
product_quantity         0.000143046 -4.66627e-05
trn_sum_from_iss         1.58732e-05  -2.0321e-05
trn_sum_from_red         1.55561e-05 -2.06337e-05
res                                0            0
age                     -0.000102356 -0.000102356
gender                    0.00157585   0.00157585
dif_date                -0.000120106 -0.000120106
netto                   -0.000294768 -7.97941e-05
is_own_trademark        -0.000920423    0.0252441
is_alcohol               -0.00116961  -0.00116961

In [59]:
rules_predict = {'client_id': 'min',
        'regular_points_received':['sum', 'mean'], 
         'express_points_received':['sum', 'mean'],
         'regular_points_spent':['sum', 'mean'], 
         'express_points_spent':['sum', 'mean'],
         'purchase_sum':['sum', 'mean'],
         'product_quantity':['sum', 'mean'],
        'trn_sum_from_iss':['sum', 'mean'],
        'trn_sum_from_red':['sum', 'mean'],
        'trn_sum_from_iss':['sum', 'mean'],
        'trn_sum_from_red':['sum', 'mean'],
        'netto':['sum', 'mean'],
        'is_own_trademark':['sum', 'mean'],
        'is_alcohol':['sum', 'mean'],
        'age':'mean',
        'gender': 'mean',
        'dif_date':'mean',
        'res':'mean'}

In [39]:
train.drop(labels = 'product_id', axis = 1, inplace = True)

In [60]:
train = train.groupby('transaction_id').agg(rules_predict)

In [63]:
train.head(2).T

transaction_id                 0000033e06   00000ae190
client_id                      42ea7275e0   91d51e9bd2
regular_points_received_sum  -0.000669818 -0.000255901
regular_points_received_mean -0.000111636 -0.000127951
express_points_received_sum  -3.14951e-05 -1.04984e-05
express_points_received_mean -5.24918e-06 -5.24918e-06
regular_points_spent_sum      0.000183485  6.11617e-05
regular_points_spent_mean     3.05809e-05  3.05809e-05
express_points_spent_sum       0.00012133  4.04432e-05
express_points_spent_mean     2.02216e-05  2.02216e-05
purchase_sum_sum             -0.000834104 -0.000378461
purchase_sum_mean            -0.000139017 -0.000189231
product_quantity_sum         -9.02677e-05  9.63831e-05
product_quantity_mean        -1.50446e-05  4.81915e-05
trn_sum_from_iss_sum         -0.000464564   -0.0002192
trn_sum_from_iss_mean        -7.74273e-05   -0.0001096
trn_sum_from_red_sum         -0.000473091 -0.000222595
trn_sum_from_red_mean        -7.88485e-05 -0.000111298
netto_sum                     -0.00123438 -0.000554581
netto_mean                    -0.00020573  -0.00027729
is_own_trademark_sum             0.020642    0.0243237
is_own_trademark_mean          0.00344034    0.0121619
is_alcohol_sum                -0.00701767  -0.00233922
is_alcohol_mean               -0.00116961  -0.00116961
age                          -0.000412509  -0.00258358
gender                         0.00157585 -0.000165621
dif_date_mean                 -0.00104172  -0.00164277
res                                     0            0

In [72]:
train.columns = ['client_id', 
                    'regular_points_received_sum',
                    'regular_points_received_mean', 
                    'express_points_received_sum',
                    'express_points_received_mean',
                    'regular_points_spent_sum', 
                    'regular_points_spent_mean', 
                    'express_points_spent_sum',
                    'express_points_spent_mean', 
                    'purchase_sum_sum',
                    'purchase_sum_mean',
                    'product_quantity_sum',
                    'product_quantity_mean',
                    'trn_sum_from_iss_sum',
                    'trn_sum_from_iss_mean',
                    'trn_sum_from_red_sum',
                    'trn_sum_from_red_mean',
                    'netto_sum',
                    'netto_mean',
                    'is_own_trademark_sum',
                    'is_own_trademark_mean',
                    'is_alcohol_sum',
                   'is_alcohol_mean',
                   'age',
                   'gender',
               'dif_date',
                'res']

In [77]:
rules_predict2 = {'regular_points_received_sum':'sum',
                    'regular_points_received_mean':'mean', 
                    'express_points_received_sum':'sum',
                    'express_points_received_mean':'mean',
                    'regular_points_spent_sum':'sum', 
                    'regular_points_spent_mean':'mean', 
                    'express_points_spent_sum':'sum',
                    'express_points_spent_mean':'mean', 
                    'purchase_sum_sum':'sum',
                    'purchase_sum_mean':'mean',
                    'product_quantity_sum':'sum',
                    'product_quantity_mean':'mean',
                    'trn_sum_from_iss_sum':'sum',
                    'trn_sum_from_iss_mean':'mean',
                    'trn_sum_from_red_sum':'sum',
                    'trn_sum_from_red_mean':'mean',
                    'netto_sum':'sum',
                    'netto_mean':'mean',
                    'is_own_trademark_sum':'sum',
                    'is_own_trademark_mean':'mean',
                    'is_alcohol_sum':'sum',
                   'is_alcohol_mean':'mean',
                   'age':'mean',
                   'gender':'mean',
                   'dif_date':'mean',
                 'res':'mean'}

In [74]:
train.columns

Index(['client_id', 'regular_points_received_sum',
       'regular_points_received_mean', 'express_points_received_sum',
       'express_points_received_mean', 'regular_points_spent_sum',
       'regular_points_spent_mean', 'express_points_spent_sum',
       'express_points_spent_mean', 'purchase_sum_sum', 'purchase_sum_mean',
       'product_quantity_sum', 'product_quantity_mean', 'trn_sum_from_iss_sum',
       'trn_sum_from_iss_mean', 'trn_sum_from_red_sum',
       'trn_sum_from_red_mean', 'netto_sum', 'netto_mean',
       'is_own_trademark_sum', 'is_own_trademark_mean', 'is_alcohol_sum',
       'is_alcohol_mean', 'age', 'gender', 'dif_date', 'res'],
      dtype='object')

In [79]:
train = train.groupby('client_id').agg(rules_predict2)

In [81]:
train.to_csv('trainforpredict.csv')